internet_Architec/distributed_services/webservice/src/main/java/com/asynclife/xml/schema/ns01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/ns01" 
xmlns:tns="http://www.example.org/ns01" elementFormDefault="qualified">
	
	<element name="user" type="tns:userType"/>

	<complexType name="userType">
		<sequence>
			<element name="id" type="int" minOccurs="1" maxOccurs="1"/>
			<element name="name" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="birth" type="date" nillable="false"/>
		</sequence>
	</complexType>
	
	
</schema>